{%extends 'spotify/base.html' %}
{% load staticfiles %}

{% block content %}

<div id="activation-message">
    <p>We have sent an email with an activation code to the email address provided.  Please copy and paste that code into the field below to activate your account.</p>
    <form id="activation" action="oauth" method="GET">
        <input type="text" name="activation_code" placeholder="activation code" class="form-control">
        <input type="submit" value="Activate!" class="btn btn-info">
    </form>
</div>

{% endblock %}

