<html>
<head>
{% load staticfiles %}
	<link href='https://fonts.googleapis.com/css?family=Nunito:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 	
 	{% block extras %} 
 	{% endblock %} 


    <link rel="stylesheet" type="text/css" href ="{% static 'spotify/main.css' %}">

    {% block js %}
	{% endblock %}


    <title>Money Music </title>


</head>
<body>
<div class = "container-fluid">
	<header>
		{% block header %}
			<h1><span>M</span>oney<span>M</span>usic</h1>
		{% endblock %}
	</header>

	<div class = "content">
		{% block content %}
		{% endblock %}
	</div>

	<footer>
		{% block footer %}
		{% endblock %}
	</footer>
</div>
</body>
</html>