
{% extends 'spotify/base.html' %}
{% block content %}
    <h1> Testing </h1>
    <h3>This app is under construction...Please excuse our appearance.</h3>
    <h4>Existing user login</h4>
    <form name="login" action="login" method="POST">
        {%if login_error%}
            {{login_error}}
        {%endif%}
        {% csrf_token %}
        {{ login_form.as_p }}
        <input class="btn btn-info" type="submit" value="Login">
    </form>

    <h4>New user registration</h4>
    <form name="registration" action="registration" method="POST">
        {% csrf_token %}
        {% for field in registration_form%}
        <p>
            {{field.errors}}
            {{field.label_tag}}{{field}}
        </p>
        {%endfor%}
        <input class="btn btn-info" type="submit" value="Create User">
    </form>
{% endblock %}