{%extends 'spotify/base.html' %}
{% load staticfiles %}
{% block js %}
    <script src="{% static 'spotify/test.js' %}"> </script>
    <script src="{% static 'spotify/timeline.js' %}"> </script>
    <script src="{% static 'spotify/django_ajax.js' %}"> </script>
{% endblock %}

{% block content %}
<div class="row page"> 
    <div class="col-md-12">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a id='logout' class="navbar-brand" href="/callback">App Logo</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a id='logout' href="/logout">Logout</a></li>
                <li><a id='engine' href="/engine">Recommendation Engine</a></li>
                <li><a id='createpost' href='' data-toggle="modal" data-target="#mySearchModal">Create Post</a></li>
                <li><a id='sync' href=''>Sync Library</a></li>
                <li><a id='following' href='' data-toggle="modal" data-target="#UsersModal">Following</a></li>
                <li><a id='find' href='' data-toggle="modal" data-target="#FindModal">Find</a></li>
              </ul>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div>
</div>

<div class="row page">  
    <div class="col-md-9">
        <h3>Your Stream</h3>
        <div id="mini-feed"></div>
    </div>


    <div id="eddy" class="col-md-3">
        <h3> Your personalised playlists </h3>
        <br>
        <h4>You</h4>
            <div class = "timelineplaylist" id="yourplaylist"> 
                <div class = "playlist_image" id ="yourplaylist_image"> </div>
                <div id="yourplaylist_playlist" class="playlist_playlist"> </div> 
            </div>

            <h4>Your Friends</h4>
            <div class = "timelineplaylist" id="friendsplaylist"> 
                <div class = "playlist_image" id ="friendsplaylist_image"> </div>
                <div class="playlist_playlist" id ="friendsplaylist_playlist"> </div>
            </div>
        </div>
    </div>

<!-- Post Modal-->
    <div id="mySearchModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Post</h4>
                </div>
                <div class="modal-body">
                    <div class="createpost_div" id="create-post-form">
                        <form id="songsearch" action="search" method="GET">
                            {% csrf_token %}
                            <p>What's on your mind?</p>
                            <p><textarea id="comment" rows="4" cols="30"></textarea></p>
                            <p>Include a song from your library</p> 
                            <p><input type="text" name="search_query"> <button class="btn btn-info" id="song-search-button">search</button></p>
                            <input type="submit" value="Stage it!">
                        </form>
                    </div>
                    <div class="createpost_div">
                        <div id="searchresult">
                            <ul id="searchresult_list"></ul>
                        </div>
                    </div>
                    <div id="post-creation">
                        <p id="song-reference"></p>
                        <p id="song-comment"></p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="post-it-button" type="button" class="btn btn-default" data-dismiss="modal">Do it!</button>
                </div>
            </div>
        </div>
    </div>
<!-- END Post Modal-->

<!-- Followers Modal -->
    <div id="UsersModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Following</h4>
                </div>
                <div class="modal-body">
                    {% if follow_list %}
                        <table id="following-list">
                        {% for user in follow_list %}
                            <tr id="{{ user }}">
                                <td>{{ user }}</td>
                                <td><button class="btn followButton">follow</button></td>
                            </tr>
                        {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> 
<!-- END Followers Modal -->

<!-- Find Modal -->
<div id="FindModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Find users</h4>
            </div>
            <div class="modal-body">
                <h4>Latest user posts</h4>
                {% if post_list %}
                    <table id="users-list">
                    {% for post in post_list %}
                        <tr id="{{ post.pk }}">
                            <td>{{ post.user }}</td>
                            <td>{{ post.content }}</td>
                            <td><iframe src="https://embed.spotify.com/?uri={{ post.song.song.track_uri }}" width="250" height="80" frameborder="0" allowtransparency="true"></iframe></td>
                            <td><button class="btn followButton">follow</button></td>
                        </tr>
                    {% endfor %}
                    </table>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END Find Modal -->
{% endblock %}
