{%extends 'spotify/base.html' %}
{% load staticfiles %}
{% block js %}
    <script src="{% static 'spotify/timeline.js' %}"> </script>
    <script src="{% static 'spotify/django_ajax.js' %}"> </script>
{% endblock %}

{% block content %}


<!-- Eddy's NAVBAR -->
<div class="row page"> 
    <div class ="navcontainer" class="col-md-12">
        <ul class= "navlist">
            <li><a id='logout' href="/logout">Logout</a></li>
            <li><a id='engine' href="/engine">Recommendation Engine</a></li>
            <li><a id='createpost' href='' data-toggle="modal" data-target="#mySearchModal">Create Post</a></li>
            <li><a id='sync' href=''>Sync Library</a></li>
            <!-- <li><a id='following' href='' data-toggle="modal" data-target="#UsersModal">Following</a></li> -->
            <li><a id='find' href='' data-toggle="modal" data-target="#FindModal">Find Other Users</a></li>
        </ul>
   </div>
</div>


<div class="row page">  
    <div class="col-md-8">
        <h3> {{username}} Profile </h3>
        <div id="profile">
            <table> 
                <tr id="profile_stats">
                    <td id ="profile_songs">{{song_count}}</td>
                    <td id = "followers" data-toggle="modal" data-target="#UsersModal">{{followers_count}}</td>
                    <td id = "following" data-toggle="modal" data-target="#UsersModal">{{following_count}}</td>
                </tr>
                <tr id="profile_stats_names">
                    <td>Songs</td>
                    <td>Followers</td>
                    <td>Following</td>
                </tr>
            </table>
        </div>
        <div>
            <h3>Your Stream</h3>
            <table id="mini-feed" class="table table-striped"></table>
        </div>
    </div>

    <div id="eddy" class="col-md-4">
        <h3> Your personalised playlists </h3>
        <div id="loading"> </div>
        <br>
        <h4>You</h4>
        <div class = "timelineplaylist" id="yourplaylist"> 
            <div class = "playlist_image" id ="yourplaylist_image"> </div>
            <div id="yourplaylist_playlist" class="playlist_playlist"> </div>
            <div id="yourplaylist_buttons" class="btn-group" role="group" aria-label="...">
                <button id="yourplaylist_like" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <button id="yourplaylist_dislike" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <button id="yourplaylist_save"  type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                </button>
            </div>
        </div> 

        <h4>Your Friends</h4>
        <div class = "timelineplaylist" id="friendsplaylist"> 
            <div class = "playlist_image" id ="friendsplaylist_image"> </div>
            <div class="playlist_playlist" id ="friendsplaylist_playlist"> </div>
            <div id="friendsplaylist_buttons" class="btn-group" role="group" aria-label="...">
              <button id="friendsplaylist_like" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
              <button id="friendsplaylist_dislike" type="button" class="btn btn-default">
                <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
              <button id="friendsplaylist_save" type="button" class="btn btn-default">
                <span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
              </button>
            </div>
        </div>
    </div>
</div>





<!-- Sync Modal -->


<div id="syncModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">You need to sync your music library</h4>
      </div>
      <div class="modal-body">
        <p>We detect that you have no music in your library. Please sync your spotify account to use this website!</p>
        <button id="sync_button" type="button" class="btn btn-success btn-circle btn-xl"><i class="glyphicon glyphicon-refresh"></i></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>






<!-- Post Modal-->
    <div id="mySearchModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Post</h4>
                </div>
                <div class="modal-body">
                    <div class="createpost_div" id="create-post-form">
                        <form id="songsearch" action="search" method="GET">
                            {% csrf_token %}
                            <p>What's on your mind?</p>
                            <p><textarea id="comment" rows="4" cols="30"></textarea></p>
                            <p>Include a song from your library</p> 
                            <p><input type="text" name="search_query"> <button class="btn btn-info" id="song-search-button">search</button></p>
                            <input type="submit" value="Stage it!">
                        </form>
                    </div>
                    <div class="createpost_div">
                        <div id="searchresult">
                            <ul id="searchresult_list"></ul>
                        </div>
                    </div>
                    <div id="post-creation">
                        <p id="song-reference"></p>
                        <p id="song-comment"></p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="post-it-button" type="button" class="btn btn-default" data-dismiss="modal">Do it!</button>
                </div>
            </div>
        </div>
    </div>
<!-- END Post Modal-->

<!-- Followers Modal -->
    <div id="UsersModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="following-button" class="btn btn-info">Following</button>
                    <button id="followers-button" class="btn btn-info">Followers</button>
                </div>
                <div class="modal-body">
                        <table id="following-list">
                        {% for user in follow_list %}
                            <tr id="{{ user }}">
                                <td>{{ user }}</td>
                                <td><button class="btn followButton">follow</button></td>
                            </tr>
                        {% endfor %}
                        </table>
                        <table id="followers-list">
                        {% for user in followers %}
                            <tr id="{{ user.user }}">
                                <td>{{ user.user }}</td>
                                <td><button class="btn followButton">follow</button></td>
                            </tr>
                        {% endfor %}
                        </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> 
<!-- END Followers Modal -->

<!-- Find Modal -->
<div id="FindModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <form id="usersearch" action="search" method="GET">
                    <h4 class="modal-title">Find users</h4>
                    <input type="text" name="user_query" placeholder="username"> <button class="btn btn-info" id="user-search-button">search</button>
                </form>
                <div id="user-search">
                    <table id="user-search-results"></table>
                </div>
            </div>
            <div class="modal-body">
                <h4>Latest user posts</h4>
                {% if post_list %}
                    <table id="users-list">
                    {% for post in post_list %}
                        <tr id="{{ post.user }}">
                            <td>{{ post.user }}</td>
                            <td>{{ post.content }}</td>
                            <td><iframe src="https://embed.spotify.com/?uri={{ post.song.song.track_uri }}" width="250" height="80" frameborder="0" allowtransparency="true"></iframe></td>
                            <td><button class="btn followButton">follow</button></td>
                        </tr>
                    {% endfor %}
                    </table>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END Find Modal -->
{% endblock %}
