{%extends 'spotify/base.html' %}
{% load staticfiles %}
{% block js %}
    <script src="{% static 'spotify/timeline.js' %}"> </script>
    <script src="{% static 'spotify/django_ajax.js' %}"> </script>
{% endblock %}


{% block content %}
    <div class="row">
        <div id="test" class="col-md-12"></div>
    </div>
    <div class="row">    
        <div class="col-md-3">
            <h4>Please hit sync to let us download your library</h4>
            <div id="sync-library">
                <button class="btn btn-info" id='sync'>Sync</button>
                <div id="loading"></div>
            </div>
            <p><a id='engine' href="/engine">Recommendation Engine</a></p>
            <p><a id='logout' href="/logout">Logout</a></p>
            <button class="btn btn-info">New Post</button>
        </div>

        <div class="col-md-3">
            <h4>MINI-FEED</h4>
            <div id="mini-feed"></div>
        </div>

        <div class="col-md-2">
            <h4>ALL USERS</h4>
            {% if user_list %}
                <ul id="all-users-list">
                {% for user in user_list %}
                    <li id="{{ user }}-button">{{ user }}<button class="btn followButton"> follow</button></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div id="eddy" class="col-md-4">
            <h3> Your personalised playlists </h3>

            <h4>You</h4>
            <div class = "timelineplaylist" id="yourplaylist"> 
               <div class = "playlist_image" id ="yourplaylist_image"> </div>
                <div id="yourplaylist_playlist" class="playlist_playlist"> </div> 
            </div>
            <h4>Your Friends</h4>
            <div class = "timelineplaylist" id="friendsplaylist"> 
                <div class = "playlist_image" id ="friendsplaylist_image"> </div>
                <div class="playlist_playlist" id ="friendsplaylist_playlist"> </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Creating post...</h4>
                </div>
                <div class="modal-body">
                    <p id="song-reference"></p>
                    <p id="song-comment"></p>
                </div>
                <div class="modal-footer">
                    <button id="modal-button" type="button" class="btn btn-default" data-dismiss="modal">Do it!</button>
                </div>
            </div>
        </div>
    </div>

    <div id="mySearchModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Search Results</h4>
                </div>
                <div class="modal-body">
                    <div id="searchresult"><ul id="searchresult_list"></ul></div>
                </div>
                <div class="modal-footer">
                    <button id="modal-button" type="button" class="btn btn-default" data-dismiss="modal">Do it!</button>
                </div>
            </div>
        </div>
    </div>              
{% endblock %}
