{% extends "spotify/base.html" %}
{%load staticfiles %}

{% block extras %} 
  <link rel="stylesheet" type="text/css" href ="{% static 'spotify/slider/css/slider.css' %}">
  <script src="{% static 'spotify/slider/js/bootstrap-slider.js' %}"> </script>

{% endblock %} 

{% block js %}
    <script src="{% static 'spotify/engine.js' %}"> </script>
    <script src="{% static 'spotify/django_ajax.js' %}"> </script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h1>Recommendation engine</h1>
    </div>
</div>

<div class="row">
  <div class="col-md-3">
    Number of songs in playlist
    <select id="number_songs" class="form-control" default="5">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
    <br>
  
    Neighbors
    <select id="neigbors" class="form-control">
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
    <br>

    Recency effect
    <select id="recency" class="form-control">
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
    <br>

    Rating effect
    <select id="rating"  class="form-control">
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
    <br>

    Duplicate artist effect
      <select id="duplicateartist" class="form-control">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
      <br>

      Existing playlist effect
      <select id="existingplaylist" class="form-control">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
      <br>

       <button id ="generate_button" type="button" class="btn btn-primary btn-lg btn-block">Generate Playlist </button>


</div>

 





{% endblock %}