{% extends "spotify/base.html" %}
{% load staticfiles %}

{% block extras %} 
  

  <script src ="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.0.12/bootstrap-slider.min.js"> </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.0.12/css/bootstrap-slider.css">
{% endblock %} 


{% block js %}
    <script src="{% static 'spotify/engine.js' %}"> </script>
    <script src="{% static 'spotify/django_ajax.js' %}"> </script>
{% endblock %}


{% block content %}


<div class="row page"> 
    <div class ="navcontainer" class="col-md-12">
        <ul class= "navlist">
            <li><img src = "{% static 'spotify/TinyMMLogo.png' %}"></li>
            <li><a id='logout' href="/logout">Logout</a></li>
            <li><a id='home' href="/callback">Your Timeline</a></li>
            <li><img src = "{% static 'spotify/TinyMMLogo.png' %}"></li>
        </ul>
   </div>
</div>


<div class="row page">
      <div class="col-md-5" id="generator_options">
        <div class="row">
            <div class="col-md-4">
                Number of Songs
            </div>

            <div class="col-md-8">
            <input class="engineslider" id="number_songs" data-slider-id='number_songsSlider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="10"/> 
            </div>
        </div>
        <br>
        <br>
  
   
<div class="row">
        <div class="col-md-4">
            Who You Follow
        </div>
        <div class="col-md-8">
             <input class="engineslider" id="follow" data-slider-id='followSlider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0"/>
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-md-4">
            Recent
        </div>
        <div class="col-md-8">
             <input class="engineslider" id="recency" data-slider-id='recencySlider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="10"/>
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-md-4">
             Your Ratings
        </div>
        <div class="col-md-8">
             <input class="engineslider" id="rating" data-slider-id='ratingSlider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="10"/>
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-md-4">
             Diversity
        </div>
        <div class="col-md-8">
             <input class="engineslider" id="duplicateartist" data-slider-id='duplicateartistSlider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="10"/>
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-md-4">
             New Music
        </div>
        <div class="col-md-8">
             <input class="engineslider" id="existingplaylist" data-slider-id='existingplaylistSlider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="10"/>
        </div>
    </div>
    <br>
    <br>


       <button id ="generate_button" type="button" class="btn-generate">Generate Playlist </button>

    </div>


   <div class="col-md-1">
      <div id="test">  
      </div>

   </div>

 

   <div class="col-md-6">
      <div class = "row">  
         <!-- The playlist -->
         <div class ="col-md-8">
          <div id="playlist"> 
            <div class = "playlist_image" id ="engineplaylist_image"> </div>
            <div id="playlist_player">  </div>
          </div>
         </div>
        <!--  The buttons -->
         <div id="engine_buttons" class ="col-md-4">
         <!-- Like button -->
          <div class="engine_choice" id="engine_like"> 
            <button id="like"> <span class="glyphicon glyphicon-ok" aria-hidden="true" display="None"></span>  </button>
          </div>
          <!-- Dislike button -->
          <div class="engine_choice" id="engine_dislike"> 
            <button id="dislike"> <span class="glyphicon glyphicon-remove" aria-hidden="true"> </span> </button>
          </div> 
         <!--  Save button -->
          <div class="engine_choice" id="engine_save"> 
            <button id="save"><span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> </span> </button> 
          </div>


        </div>

        </div>

      </div>
</div>


<!-- Explainer at the bottom -->
<div class = "row page">
  <p id="explainer_header"> Explaining the components of our algorithm</p>
  <table id="engine_explainer" style="width:100%">
    <tr>
     <td class="explainer_type" id="number_number" >Number songs</td>
     <td class="explainer_type">Who You Follow</td>
     <td class="explainer_type">Recent</td>
     <td class="explainer_type">Your Ratings</td>
     <td class="explainer_type">Diversity</td>
     <td class="explainer_type">New Music</td>
    </tr>
    <tr>
    <td class="explainer_text">Select the number of songs to be in your custom playlist.</td>
    <td class="explainer_text">Do you want the music in your custom playlist to be generated based on the people you follow or by our awesome algorithm that finds other users on our site who have similar music preferences to you. Selecting 10 will ensure that your custom playlist is only selected from the playlists of people that you follow. </td>
    <td class="explainer_text">How much do you care that the music in your custom playlist is the latest and greatest? Selecting 10 will give high favor to songs that have recently been uploaded by our users and people you follow.  </td>
    <td class="explainer_text">How much do you care about previous ratings that you have given to playlists we have served you? Selecting 10 will give high favor to artists in playlists that you have previously liked</td>
    <td class="explainer_text">How much do you care about similar artists appearing in the same playlist? Selecting 10 will ensure that your playlist is comprised of entirely unique artists</td>

    <td class="explainer_text">Do you want to hear some of your old favourites, or do you want a completely new playlist? Selecting 10 will ensure that no song will appear in your custom playlist that already exists in your Spotify library.</td>


    </tr>
</div>
{% endblock %}