h1 {
    text-align: center;
    color:#2ebd59;
    font-family: 'Nunito', sans-serif;
    font-size:5em;
    font-weight: 400
}

body {
	background-color: #1c1c1f;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.container {
    width:110em;
    margin: auto;
}

input, textarea {
    color:black;
}

textarea {
    resize: none;
}



#homespace {
    height:15em;
}
.carouselimage {
    width: :100%;
}

.btn-home {
    height:3em;
    width:100%;
    background : transparent;
    border-color:white;
    border-width: 0.3em;
    border-radius: 3%;
    font-size: 2em;
    -webkit-transition-property: border-color; /* Safari */
    transition-property: border-color;
    transition-duration: 1s;
}

.btn-home:hover {
    border-color:#2ebd59;
}

i {
	color:green;
}

.modal-content {
    color: black;
}

#all-users-list li {
    margin-top: .5em;
}

.fa-question {
	cursor: pointer;
}

.btn:hover {
    color: white;
}

.followButton {
    background-color: blue;
}

.following {
    background-color: green;
}

.unfollow {
    background-color: red;
}

#test {
    height: 10em;
    background-color: white;
}

#searchresult_list {
    overflow-y: scroll;
    height: 10em;
}

#following-list {
    width: 20em;
}

td {
    color: black;
}

.glyphicon {
    font-size: 5em;
}


/*ALL*/
.popover-content{
    color:black;
}

/*index.html specific*/
        
#eddy {
    height: 100em;
    background-color: grey;
}

.createpost_div {
    float: left;
    display: inline-block;
    width: 50%;
}

.modal-footer {
    bottom: 0em;
}

.timelineplaylist {
    position: relative;
    height:25em;
}

.timelineplaylist .playlist_image {
    position: absolute;
    z-index: 1;
}

.timelineplaylist .playlist_playlist {
    position: absolute;
}

/*engine.html specific*/
.btn-generate {
    font-family: 'PT Sans', sans-serif;
    height:3em;
    width:100%;
    background : transparent;
    border-color:white;
    border-width: 0.3em;
    border-radius: 3%;
    font-size: 1.2em;
    -webkit-transition-property: border-color, color; /* Safari */
    transition-property: border-color, color;
    transition-duration: 1s;
}

.btn-generate:hover {
    border-color:#2ebd59;
    border-width: 0.2em;
    border-style: solid;
    color:#2ebd59;;
    background : transparent;

}


#playlist_player {
    border-color:white;
    border-width: 0.2em;
    border-style: solid;
    width: 80%;
    margin:auto;
    position:absolute;
}

#engineplaylist_image {
    position:absolute;
}





